<div class="credentials-form" [formGroup]="parentForm">
  <app-input-field
    label="Correo electrónico"
    placeholder="usuario@email.com"
    type="email"
    formControlName="email"
    [hasError]="isInvalid('email')"
  ></app-input-field>

  <app-input-field
    label="Contraseña"
    placeholder="••••••••"
    type="password"
    formControlName="password"
    [hasError]="isInvalid('password')"
  ></app-input-field>

  <app-error-message
    [message]="errorMessage"
    [show]="showError"
  ></app-error-message>
</div>