<div class="personal-data-form" [formGroup]="parentForm">
  <div class="personal-data-form__row">
    <app-input-field
      label="Cédula"
      placeholder="1234567890"
      type="text"
      formControlName="cedula"
      [hasError]="isInvalid('cedula')"
    ></app-input-field>

    <app-input-field
      label="Nombre completo"
      placeholder="Juan García"
      type="text"
      formControlName="nombreCompleto"
      [hasError]="isInvalid('nombreCompleto')"
    ></app-input-field>
  </div>

  <app-input-field
    label="Correo electrónico"
    placeholder="usuario@elbosque.edu.co"
    type="email"
    formControlName="email"
    [hasError]="isInvalid('email')"
  ></app-input-field>

  <app-select-field
    label="Carrera"
    placeholder="Selecciona una carrera"
    formControlName="carrera"
    [options]="carreraOptions"
    [hasError]="isInvalid('carrera')"
  ></app-select-field>
</div>